go 1.19

use (
	./00_aoc
	./01_calorie_counting
	./02_rock_paper_scissors
	./03_rucksack_reorganization
	./04_camp_cleanup
	./05_supply_stacks
	./06_tuning_trouble
	./07_no_space_left_on_device
	./08_treetop_tree_house
	./09_rope_bridge
	./10_cathode_ray
	./11_monkey_in_the_middle
)
